[Unit]
Description=cluster-agent
After=network.target

[Service]
Type=oneshot
User=cluster_agent
Group=cluster_agent
WorkingDirectory=/srv/cluster-agent-venv
ExecStart=/srv/cluster-agent-venv/bin/agentrun

[Install]
Alias=cluster-agent.service
WantedBy=multi-user.target

